ANAROCK_AUTH_URL_STAGING=https://employee.beta.staging.anarock.com/api/v0/authenticate
ANAROCK_EMAIL_STAGING=
ANAROCK_PASSWORD_STAGING=
SQL_QUERY_URL_STAGING=https://marketing-dashboards.staging.anarock.com/query
